<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Orphanage Charities</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/cancer.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="main">
  <h1>Charities for Cancer Treatment</h1>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1584515933487-779824d29309?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXx3cEkyRVZzaXFDc3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">Cancer care donation- Helpage India
        </h2>
          <p class="card_text"> Every moment of a cancer patient’s life is one of unbearable, relentless pain. HelpAge India works extensively in the field of palliative care, with the task of reducing the pain that terminally ill cancer patients suffer. Our work has grown stronger and stronger, and we now treat over 30,000 patients. However, we need funds to treat more and more. To help a cancer patient takes only Rs. 3,600 a year, which means it will cost you less than Rs. 10 a day.We provide the most current and vetted scientific information about the disease in a central location. </p>
          <a href ="https://rzp.io/l/k5OPm0uAl3">  <button class="btn card_btn">Donate Now</button> </a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1550792436-181701c71f63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Mnx3cEkyRVZzaXFDc3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">Ruko cancer charity   </h2>
          <p class="card_text">Roko Cancer Charitable Trust (Registered Charity No.: 398/4/2009-2010, INDIA) is a “not for profit” organization committed to fighting cancer and preventing deaths due to cancer, especially in women, by timely and early detection.‘Roko’ means ‘Stop’ and ‘Cancer’ is universally perceived as the most rapacious killer of human existence. Roko Cancer, therefore, in vernacular means ‘Stop Cancer’. Located online, it currently has about 11,000 registered members (2016). We are also now funders of immunotherapeutic treatment research.
        </p>
        <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button> </a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1581595220057-eefa8c4add1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3x3cEkyRVZzaXFDc3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">Macmillan cancer support</h2>
          <p class="card_text">Trust has been a pioneer in launching India’s irst fully equipped, sophisticated Mobile Cancer Detection Unit. This gives us the lexibility of conducting ‘Mammograms’ and ‘Pap Smear/ LBC’ tests for women and ‘Oral Cancer Tests and counselling for de-addiction’ for men in various urban, semi-urban and rural areas. In our drive we have conducted 5,000 ‘Awareness and Detection’ camps during the period from 2005 to date in 22 States and Union Territories. Presently, our Mobile Detection Units are equipped to detect Breast, Cervix and Oral cancer.  </p>
          <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1578496781379-7dcfb995293d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHx3cEkyRVZzaXFDc3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">PFC - Prostate cancer foundation
            </h2>
          <p class="card_text"> The Prostate Cancer Foundation (PCF) funds the world’s most promising research to improve the prevention, detection, and treatment of prostate cancer and ultimately cure it for good.Right now, one man dies every 15 minutes from prostate cancer in the United States.  PCF’s vision is to end all deaths from prostate cancer by raising awareness and funding urgent, cutting-edge research. </p>
          <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1576089275776-b6cd5deabdad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y2FuY2VyJTIwdHJlYXRtZW50fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">Teenage cancer trust
        </h2>
          <p class="card_text">Our policy work influences positive change in young people’s experiences of cancer for them and their families. From the funding and development of specialist facilities to improving young people’s diagnosis, experience and outcomes, our information and expertise help shape decisions made at local and national level. Our foundation’s missions are changing patient’s lives today.
         </p>
         <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">donate now</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1578496781985-452d4a934d50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Nnx3cEkyRVZzaXFDc3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">The oral cancer foundation
        </h2>
          <p class="card_text"> The Oral Cancer Foundation’s missions are rooted in science. OCF funds life-saving research and work that elucidates mechanisms for early discovery and furthers disease understanding. We provide direct peer to peer support for oral cancer patients and their caregivers. We disseminate vetted professional and public information on oral and oropharyngeal cancer.
           </p>
           <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">donate now</button></a>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- partial -->
  
</body>
</html>