<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Old age home Charities</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/oldage.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="main">
  <h1>Charites for Old age homes</h1>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1584984793889-6ac1bbe1a2b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MnxVdGRITjJnM3U2VXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">Old Age Homes
        </h2>
          <p class="card_text">  HelpAge India is a secular, not-for-profit organization in India, registered under the Societies’ Registration Act of 1860. Set up in 1978, the organization works for ‘the cause and care of disadvantaged older persons to improve their quality of life’ HelpAge envisions a society where elderly have the right to an active, healthy and dignified life. A roof over their heads is a critical need of the elder who are destitute, sick and abandoned by family and those uprooted by disasters.</p>
          <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1632587458850-d7a85e05c72e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXxVdGRITjJnM3U2VXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">IPledge4eldercare    </h2>
          <p class="card_text"> The organization’s programs are focused on direct interventions in the areas of Healthcare (mobile healthcare units, cataract surgeries), Agecare (helplines, senior citizen care homes and day care centres, physiotherapy),  Livelihoods (elder-self-help groups), Disaster Response (e.g. covid19 relief response), as well as Advocacy and Awareness on rights and policies relating to elders.

            All donations to the NGO are eligible for 50% tax exemption under section 80G of the Income Tax Act, 1961
            </p>
            <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1534954553104-88cb75be7648?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NXxVdGRITjJnM3U2VXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">Old age solutions</h2>
          <p class="card_text"> Our motto is to provide holistic information to ensure physical, mental and social wellbeing of senior citizens. We strive to promote dignity and independence among older persons in India or elsewhere in the world. Our web portal includes information related to health, nutrition, housing, design, environment, recreation, entertainment, networking, and assistive devices to enhance the quality of life among older generation. We support 300 old age homes and runs 5 barrier homes for the aged in India.       </p>
          <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1514415008039-efa173293080?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXxVdGRITjJnM3U2VXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">Age and opportunity
            </h2>
          <p class="card_text"> Age & Opportunity is the leading national development organisation improving the quality of life of older people. We do this by:
            • championing the creativity and value of older people;
            • combating stereotypes and negative views of ageing;
            • developing inclusive and engaging experiences which respond to the interests and needs of the diverse older adult population;
            • developing, testing and measuring the impact of pioneering programmes and approaches;
            
            </p>
            <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1513159446162-54eb8bdaa79b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MnxVdGRITjJnM3U2VXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">Alzheimer's Disease International
        </h2>
          <p class="card_text">Alzheimer's Disease International
            Our Alzheimer University, offers a series of practical workshops aimed at helping staff and volunteers, many from the
         emerging world, to build and strengthen their organisational capacity. We coordinate World Alzheimer's Day, which raises
         global awareness about dementia and its impact on families. The Day highlights the important work of our members
         throughout the world. 
         </p>
         <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1495557367294-fd19a5c20524?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXxVdGRITjJnM3U2VXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">Aging Safely, Inc
        </h2>
          <p class="card_text"> Aging Safely serves as legal Guardian for approximately 40 adults. Many of these individuals are victims of elder abuse, neglect,
            or exploitation. In its capacity as Guardian, Aging Safely works to ensure the physical and financial safety of each of its clients.
            This entails managing each client's living situation, medical care, and financial assets, and taking appropriate legal action when
            needed to protect clients from past or potential abusers</p>
            <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- partial -->
  
</body>
</html>