<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Orphanage Charities</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/orphanage.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="main">
  <h1>Charites for Orphanages</h1>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1592106680408-e7e63efbc7ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXxQdVNkY19tZkFNc3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">SOS childrens village
        </h2>
          <p class="card_text">  The first SOS Children’s Village was founded by Hermann Gmeiner, an Austrian philanthropist , in 1949 in Imst, Austria. Since then, the organization has been active and expanding throughout the world. At present, SOS Children’s Villages is active in over 136 countries and territories with over 500 SOS Children’s Villages and 400 SOS Youth Facilities striving for the welfare of the children in need of care and protection.
            In India, the organisation caters to over 25,000 children and there are 32 SOS Children’s Villages in 22 states in India.</p>
          <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1503944583220-79d8926ad5e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MnxQdVNkY19tZkFNc3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">Akshay patras foundation    </h2>
          <p class="card_text">NO CHILD IN INDIA SHALL BE DEPRIVED OF EDUCATION
            BECAUSE OF HUNGER.Through our Mid-Day Meal Programme, our attempt is to feed the millions of children in India who lack the means, but, have the zeal to learn and achieve. By feeding them one wholesome meal a day, we give them the nourishment and motivation they need to pursue an education for a better future. It is our endeavour to reach out to every child at the grass root level of the society
            The Mission works hard to provide a loving home and family for every child in its care    </p>
            <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1559425309-bf0018a09d01?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3xQdVNkY19tZkFNc3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">CRY- child rights and you</h2>
          <p class="card_text">At CRY, we’re committed to doing everything we can to ensure the rights of India’s children and so we work on 4 key programmatic areas: education, safety & protection, health & nutrition and participation. We address children’s critical needs by working with parents, teachers, Anganwadi workers, communities, district and state-level governments as well as the children themselves to create a sustainable change for India’s children. Thanks to the support of people like you, we’ve impacted over 3 million children in India. </p>
          <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1472490059022-d5d084f09e5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXxQdVNkY19tZkFNc3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">CARE india
            </h2>
          <p class="card_text"> CARE India is a non-profit organization. CARE has been working in India for over 70 years, for the upliftment of marginalised women and girls through 53 programmes in 18 states and 130+ districts.
            Ensure continued education for girls during COVID - 19. Community learning centers helping overcome the barriers to learning.CARE is a registered section 8 company in India and a member of CARE confederation present in 100 countries.
            </p>
            <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1512540315028-2c1a6497da04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXxQdVNkY19tZkFNc3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">orphan life foundation
        </h2>
          <p class="card_text">Orphan Life Foundation is a USA-based non-profit charity organization operating in the USA, India and Africa (Burkina-Faso). Our mission: To act as an advocate of orphaned children and provide them with holistic care, education opportunities, health and wellness support, foster home and shelter services, and facilitate the adoption process for orphaned and vulnerable children in Burkina-Faso.
         </p>
         <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.unsplash.com/photo-1510025092510-371a97295106?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3xQdVNkY19tZkFNc3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"></div>
        <div class="card_content">
          <h2 class="card_title">miracle foundation
        </h2>
          <p class="card_text"> For the past 21 years, Miracle Foundation has improved the lives of more than 15,000 orphaned and vulnerable children at more than 300 orphanages in India.

            To accomplish this, we developed our revolutionary Thrive Scale™ methodology  based on 5 well being domains and the UN Rights of the Child. This tool allows us to collect and track data across a wide spectrum of health and wellness factors to give every child the chance to reach their full potential. 
            </p>
            <a href ="https://rzp.io/l/k5OPm0uAl3"><button class="btn card_btn">Donate Now</button></a>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- partial -->
  
</body>
</html>